.footer {
  background-color: #234665;
  color: white; /* text color */
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 160px;
  text-align: center;
}

.footer p {
  padding-top: 100px;
  font-size: 1rem;
}