* {
  margin: 0;
  font-family: 'Segoe UI', Roboto, sans-serif;
}

html {
  position: relative; /* Important! Makes sure that the footer works */
  min-height: 100%; /* Important! Makes sure that the footer works */
  padding-bottom: 160px; /* Important! Makes sure that the footer does not overlap with content on the page (should be the same height as the footer) */
}

.default-page-setup {
  background-color: #EFF6E0;
  margin-left: 60px; /* plads til sidenav */
  min-height: 100vh; /* Makes the background fill the entire screen height */
  padding: 3rem;
}

.site-title {
  font-size: 20px;
  color: white;
}

.noise-color {
  background-color: #F8E080;
}

.humidity-color {
  background-color: #52B1D2;
}

.temperature-color {
  background-color: #FFB46B;
}

.light-color {
  background-color: #BBEEDD;
}

.white-background {
    background-color: white;
}

.site-title {
    text-align: center;
}

/* Makes the super cool image centered on the page (FOR TESTING !!!) */
.image-container {
    margin: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.image {
    width: 400px;
    height: auto;
}

/* Makes the 4 cards with current room data into a row */
.current-data-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 2rem;
}
/* Makes the 2 cards with graphic overviews into a row */
.graphics-data-container {
  display: grid;
  grid-template-columns: 2fr 1fr; /* 70%-30% ratio */
  gap: 2rem;
}

/* Gives each cards a background color, round corners, and some shadows */
.card {
  border: 1px solid #03045E;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  text-align: center;
}


/* The text fields inside the cards */
.label {
  font-size: 14px;
  color: #555;
}
.value {
  font-size: 22px;
  font-weight: bold;
}
.sub {
  font-size: 12px;
  color: #777;
}
.title {
  font-size: 18px;
}



/* Styling for the table */
.card table {
  width: 100%;
  border-collapse: collapse;
  font-size: 15px;
}

/* The table titles & the thick line */
.card thead th {
  text-align: left;
  padding: 12px 0;
  border-bottom: 2px solid #e5e5e5;
}

/* The row seperator lines */
.card tbody tr {
  border-bottom: 1px solid #f1f1f1;
}

/* The table text, spacing around the text & text-color */
.card tbody td {
  text-align: left;
  padding: 14px 0;
  color: #333;
}

/* Makes the last two columns look like links */
/* .card tbody td:last-child,
.card tbody td:nth-last-child(2) {
    cursor: pointer;
    text-decoration: underline;
} */

/* Controls the title of the table */
.card .title {
    text-align: left;
    margin-bottom: 20px;
}


/* Period selection buttons */
.period-button {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

/* Buttons in general */
button {
  background-color: #AEC3B0;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
  font-size: 14px;
}